.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-bottom: 20px;
  align-items: center;
}

.FormBtn {
  width: 100px;
  height: 27px;
  color: #9a7898db;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  box-shadow: 2px 2px 10px #b2a2b8;
  margin-top: 20px;
  border: 0;
  border-radius: 3px;
}

.FormBtn:hover {
  box-shadow: 3px 3px 3px hsla(300, 9%, 26%, 0.331);
  background-color: hsla(303, 32%, 75%, 0.859);
  color: #e8e7e5;
  border-color: #b2a2b8;
}

.FormItem {
  border: 1px solid #373c46;
  border-radius: 8px;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
}

.ContactListItem {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.ContactListItem button {
  width: 60px;
  margin-left: 5px;
}

p {
  margin-right: 10px;
}

.TitlePhoneNumber {
  font-weight: 600;
}
